

<style>
    .contenedormenu{
        position: relative;
        width: 1100px;
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        background: aliceblue;
    }

    .botones{
        position: relative;
        margin-inside: 10px;
        width: 250px;
        height: 30px;
        font-size: 15px;
        box-shadow: 0 10px 202px rgb(3, 3, 3);
    }


</style>


<div class="contenedormenu">
    <ul>
        <table>
            <tr>
                <th>
                    <a href="../../licor/vista/inicio">
                        <button class="botones">inicio</button>
                    </a>

                </th>
                <th>
                    <a href="../../usuario/vista/login" >
                        <button class="botones">Iniciar sesion</button>
                    </a>
                </th>
                <th>
                    <a href="../../usuario/crearUsuario" >
                        <button class="botones">Registrarse</button>
                    </a>
                </th>

            </tr>
        </table>
    </ul>
</div>

